<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Bon Appétit</title>
</head>
<body>
    <h1>Bon Appétit  </h1>
    <h2> Tenha as melhores receitas na palma da sua mão!</h2>

    <table>
        <thead>
            <tr>
                <td>Nome da receita</td>
                <td>Ingredientes</td>
                <td>Mode de preparo</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Suco verde</td>
                <td>Folhas verdes, 01 maçã, 01 cenoura </td>
                <td>Lave bem as folhas por cerca de 15 segundos, tirando qualquer resíduo que possa vir junto á elas.
                     Posteriormente, descasquea cenoura e a maçã. 
                     Feito este processo, coloque todos os ingredientes já preparados dentro dfo liquidificador e bata por cerca de um minuto. Gelo e açucar são opcionais.</td>
            </tr>
        </tbody>
    </table>
</body>
</html>